@media screen and (min-width: 440px) {
  .cart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    gap: 3rem;
  }
  .cart-info {
    padding: 2rem;
    margin: 2rem;
  }
}
h4 {
  font-family: sans-serif;
}

.cart-item-text {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 30px
}
h3, h1 {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 30px
}

.price-excl-shipping {
  display: inline-block;
  
}



.cart-grid {
  padding: 0.4rem;
  font-family: sans-serif;
}

.cart-items-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 2rem;
  margin: 0.4rem;
  align-items: center;
}
.items-in-cart {
  display: inline-block;
  gap: 1rem;
  padding-bottom: 1rem;
}


.image-in-cart {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .image-in-cart {
    width:80%;
  }
  .items-in-cart {
    margin-left:2rem;
  }
}


.cart-heading {
  text-align: center;
}
.cart-item-text {
  font-family: sans-serif;
  line-height: 200%;
}




.total {
  display: flex;
  padding: 2rem;
}

.total-price {
  margin-left: auto;
}

.trash-icon {
  height: 2rem;
  width: 2rem;
}
.remove-button {
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.remove-button:hover {
  background-color: #d84a0d86;
}

