/* Sidebar.css */

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.sidebar {
  text-align: left;
  position: fixed;
  opacity: 95%;
  left: 0rem;
  top: 0;
  z-index: 50;
  height: 100%;
  width: 300px;
  padding-top: 8rem;
  padding-left: 3rem;
  background-color: rgb(243, 239, 235);
  backdrop-filter: blur(50px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */

}

.cart-icon {
  width: 2.5rem;
}
