
.first-thing-div {
  min-height: 750px;
}


.main-heading-div {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  height: 100%;

} 
.heading-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-image {
  width:100%;
  height:auto; 
}


.main-heading { 
  margin-top: 7rem;
  font-size: 70px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 350;
  line-height: 85px;
}

.thirsty-font {
  color: #B46F54;
  font-weight: 400;
}


.sub-heading{
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: 120px;
}

.info-cards {
  padding-top: 80px;
  height: 1450px;
  background-color: white;
  width:100%;
}

.grid-info-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 50px;
  
}

.grid-info-cards > * {
  background-color: #F6F5F8;
  width: 100%;
  height: 600px;
  border-radius: 28px;
  transition: all 0.7s;
 

}



.grid-info-image {
  width: 100%;
  height: auto;
  max-width: 350px;
}

.info-card-image {
  display:flex;
  justify-content: center;
  margin-top: 30px;
  margin: 20px;
 
}
.info-card-header {
  display:flex;
  justify-content: center;
  font-family: sans-serif;
}

.info-card-header-text {
  font-weight: 400;
  font-size: 26px;
}

.info-card-text {
  
  display: flex;
  justify-content: center;
  text-align: center;
}

.info-card-stats {
  font-weight: 330;
  font-size: 18px;
}

.info-card-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buy-now-button {
  width: 110px;
  height: 40px;
  font-size: 18px;
  font-weight: 330;
  cursor: pointer;
  border-radius: 980px;
  border: none;
  background-color: rgb(255, 138, 61);
  color: #0d172a;
}


@media screen and (min-width: 480px) {

  .main-heading-div {
    flex-direction: row;
    min-width: 50%;
  }


  .sub-heading {
    margin-top: 150px;
  }

  .main-heading {
    font-size: 300px;
    font-weight: 380;
  }

  .info-cards {
    height: auto;
  }

  .grid-info-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 150px;
    gap: 70px;
  }

  .grid-info-cards > * {
   
    height: 750px;
    width: 100%;
    max-width: 600px;
   
  }
 

}


.home-image-text {
  font-size: calc(4vw + 1em);
}
p {
  font-size: 1.2rem;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

.body1 {
  margin: 1rem;
}

.tech-spec-lists {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 350;
}

.about-vongo {
  
  padding-top: 3rem;
  padding-left: 24px;
  padding-right: 16px;
  margin: 0;
  background-color: #b9baa3c9;
  font-size:  1rem;
  text-align: left;
  height: 1100px;
}
.main-text-header {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 46px;
  margin-bottom: 50px;
}
.main-text {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 250;
  line-height: 30px;
  padding-bottom: 50px;
}
.shop-now-button{
  
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  grid-column: span 2;
  
}
.button-shop {
  border-bottom-color: rgb(255, 138, 61);
  border-bottom-style: solid;
  height: 30px;
  font-size: 1.6rem;
}
.button-shop:hover {
  border-bottom-color:  rgb(0, 43, 77);
}



@media screen and (min-width: 480px) {
  .body1 {
    margin: 8rem;
  }
  .main-heading{
    font-size: 6rem;
    line-height: 100px;
  }
  .about-vongo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 8rem;
    font-size: 2.5rem;
    height: 700px;
  }

  .info-card-image {
    margin: 50px;
  }
 
  .main-text {
    font-size: 20px;
  }

  .firstImage {
    width: 400px;
  }
}
.tech-spec-div {
  z-index: -100;
}

.spacer {
  height: 200px;
  display: block
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.firstImageDiv {
  display: flex;
  justify-content: center;
}

.firstImage {
  background-color: rgb(243, 239, 235);
  height: 100%;
  z-index: 2;
}
.tech-specs {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: -1;
}

.specs {
  font-size: clamp(2rem, 2.5rem, 4rem);
  margin-top: 2rem;
  animation: fadeInUp;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  font-weight: 500;
}

.spacer1 {
  height: 150px;
}
.spacer2 {
  height: 80px;
}
.grid6 {
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes imageAnimate {
  0% {
    opacity: 0.7;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.grid-specs {
  padding: 1rem;
  padding-right:1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto;
}

.grid-specs > * {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.grid3 {
  display: flex;
}

.grid8 {
  grid-column: span 2;
}

@media screen and (min-width: 480px) {
  .grid-specs {
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
  }
  .grid7 {
    grid-column: span 3;
  }
  .grid5 {
    grid-column: span 2;
  }
  
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateY(0);
  }
}
